@use './variables' as *;

* {
  font-family: 'Avenir', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

.nav {
  background-color: $primary-color;
  padding: $mob-padding 0;

  &__container {
    text-align: center;

    @include tablet {
      display: flex;
      align-items: center;
      padding: 1rem 0;
    }
    @include desktop {
      padding: 1rem 4rem;
    }
  }
  &__logo {
    color: $primary-color-white;
    text-decoration: none;
    font-size: $subheader-size;
    font-weight: $body-weight;
    letter-spacing: 2.5px;

    @include tablet {
      margin-left: 2rem;
    }
  }
  &__list {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding-top: $padding-after;

    @include tablet {
      padding: 0 0 0 1.5rem;
    }
  }
  .nav__list-item {
    color: $primary-color-white;
    text-decoration: none;
    padding: 14px 50px;

    @include tablet {
      padding: 35px 10px;
    }

    &:hover {
      border-bottom: 3px solid $primary-color-white;
    }

    @include tablet {
      margin-left: 3rem;
    }
  }
}

// FOOTER SECTION
.footer {
  color: $primary-color-white;
  margin-top: 0.5rem;
  padding: 2.5rem 1rem;
  background-color: $primary-color;
  @include desktop {
	padding: 2.5rem 5rem;
  }

  &__manage {
    @include tablet {
      display: flex;
    }
  }

  &__touch {
    @include tablet {
      display: flex;
    }

    &--title {
      padding-bottom: 1rem;
      font-size: $section-size;

      @include tablet {
        padding: 0 4rem 2rem 0;
        font-size: $header-size;
      }
    }
    &--img {
      padding-right: 2rem;
      @include tablet {
        padding-top: 1rem;
      }
    }
  }

  &__address {
    padding: 1rem 0;

    @include tablet {
      width: 100%;
    }
	@include desktop {
		width: 25%;
	  }

    &--title,
    &--para2 {
      font-size: 1rem;
      padding-bottom: $padding-after;
    }

    &--para2,
    &--email {
      font-size: $body-mob-size;
    }
  }

  &__band {
    padding: 2rem 0 0 0;
	position: relative;
	&--img {
		@include tablet {
			display: flex;
			flex-direction:row-reverse;
			position: absolute;
			bottom: 17.5rem;
			right: 2rem;
	 
		}
	}
 

    &--para1 {
      padding-top: 2rem;
      font-size: 0.8rem;
    }
  }
}
