@use './variables' as *;

* {
  font-family: 'Avenir', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin decoration {
	text-decoration: none;
	list-style: none;
}
@mixin flex {
	display: flex;
}

.nav {
  background-color: $primary-color;
  padding: $mob-padding 0;

  &__container {
    text-align: center;

    @include tablet {
		@include flex;
      align-items: center;
      padding: $secondary-padding;
    }
    @include desktop {
      padding: $primary-padding;
    }
  }
  &__logo {
    color: $primary-color-white;
	@include decoration;
    font-size: $subheader-size;
    letter-spacing: 2.5px;

    @include tablet {
      margin-left:$primary-margin;
    }
  }
  &__list {
   @include flex;
	@include decoration;
    justify-content: space-around;
    padding-top: $padding-after;

    @include tablet {
      padding: $padding-between;
    }
  }
  .nav__list-item {
    color: $primary-color-white;
	@include decoration;
    padding: $important-padding;
	

    @include tablet {
      padding: $item-padding;
    }

    // &:hover {
    //   border-bottom: 3px solid $primary-color-white;
    // }

    @include tablet {
      margin-left:$secondary-margin ;
    }
  }

  .active {
	border-bottom: 3px solid $primary-color-white;
}
}

// FOOTER SECTION
.footer {
  color: $primary-color-white;
  margin-top:$footer-margin;
  padding: 2.5rem 1rem;
  background-color: $primary-color;

  @include desktop {
	padding: $desktop-padding;
  }
  &__para2,
  &__email {
	font-size: $body-mob-size;
	padding-bottom: 1rem
  }
  &__title,
  &__para1 {
	font-size: 1rem;
	padding-bottom: 1rem;
  }
  &__title,
    &__para1 {
      font-size: 1rem;
	  padding-bottom: 1rem;
    }
&__para2 {
		padding-bottom : 2em;
	}
	

  &__manage {
	
	// &__title,
    // &__para1 {
    //   font-size: 1rem;
	//   padding-bottom: 1rem;
    // }

    // &__para2,
    // &__email {
    //   font-size: $body-mob-size;
	//   padding-bottom: 1rem
    // }

    @include tablet {
      @include flex;
    }
  }

  &__touch {
    @include tablet {
		@include flex;
    } 
  }

  &__title {
    padding-bottom: 1rem;
      font-size: $section-size;

      @include tablet {
        padding: 0 4rem 2rem 0;
        font-size: $header-size;
      }
    }
    &__img {
      padding-right: $padding-tablet;
      @include tablet {
        padding-top: 1rem;
      }
    }

  &__address {
	padding: 1rem 0 0 0;

    @include tablet {
      width: 100%;
    }
	@include desktop {
		width: 25%;
	  }
 &--title {
	padding-bottom: 1.5rem;
 }
    
  }
  &__para1 {
	 padding-bottom: 0.5rem;
	 font-size: 1rem;
  }

  &__band {
    padding: 2rem 0 0 0;
	position: relative;

	@include tablet {
		padding: 0;
	}

	&--img {

		@include tablet {
			@include flex;
			flex-direction:row-reverse;
			position: absolute;
			bottom: 15rem;
			right: 2rem;	
	
		}
	}  &--para1 {
      font-size: $body-mob-size;
	  padding-top: 1rem;
    }

  }

}
