// HEADER FOR DESKTOP & TABLET
$header-size: 2.5rem;
// $header-height: 2.8rem;
// $header-weight: Bold 700;

// SECTION 
$section-size: 1.5rem;
$section-height: 2rem;
// $section-weight: 700;

// SUBHEADER
$subheader-size: 1.6rem;
// $subheader-height:1.3rem;
// $subheader-weight:600;

// BODY 
$body-size: 0.6rem;
$body-height: 0.9rem;
$body-weight: 400;

// FOOTER 
$footer-height:0.8rem;
$footer-weight: Regular 400;

// LABELS AND BUTTONS
$label-size: 0.5rem;
$label-weight: Bold 700;


// BODY 
$body-mob-size: 0.8rem; 
$body-mob-height: 0.75rem;


// BUTTON 
$btn-size: 0.4rem;

// COLORS 
$primary-color: #323232;
$primary-color-silver: #AFAFAF;
$primary-color-white: #FFFFFF;


$secondary-color-black: #000000;
$secondary-color-mercury: #E1E1E1;
$secondary-color-albaster: #FAFAFA;


// Desktop:1280px
// tablet: 768px
// mobile:320px

// PADDING:
$primary-padding: 1rem 4rem;
$secondary-padding: 1rem 0;
$padding-between: 0 0 0 1.5rem;
$important-padding: 14px 50px;
$item-padding:  35px 10px;

$padding: 0.3rem;
$padding-tablet: 2rem;
$padding-after: 1.5rem;
$desktop-padding: 2.5rem 5rem;

$primary-margin: 2rem;
$secondary-margin: 3rem;
$footer-margin: 0.5rem;

// mob
$mob-padding: 1rem;
