@font-face {
  font-family: "Avenir";
  src: url("../../assets/Font/extra/AvenirNextLTPro-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/Font/extra/AvenirNextLTPro-Regular.woff2") format "woff2";
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/Font/extra/AvenirNextLTPro-Demi.woff2") format("woff2");
}
* {
  font-family: "Avenir", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  background-color: #323232;
  padding: 1rem 0;
}
.nav__container {
  text-align: center;
}
@media (min-width: 768px) {
  .nav__container {
    display: flex;
    align-items: center;
    padding: 1rem 0;
  }
}
@media (min-width: 1280px) {
  .nav__container {
    padding: 1rem 4rem;
  }
}
.nav__logo {
  color: #FFFFFF;
  text-decoration: none;
  list-style: none;
  font-size: 1.6rem;
  letter-spacing: 2.5px;
}
@media (min-width: 768px) {
  .nav__logo {
    margin-left: 2rem;
  }
}
.nav__list {
  display: flex;
  text-decoration: none;
  list-style: none;
  justify-content: space-around;
  padding-top: 1.5rem;
}
@media (min-width: 768px) {
  .nav__list {
    padding: 0 0 0 1.5rem;
  }
}
.nav .nav__list-item {
  color: #FFFFFF;
  text-decoration: none;
  list-style: none;
  padding: 14px 50px;
}
@media (min-width: 768px) {
  .nav .nav__list-item {
    padding: 35px 10px;
  }
}
.nav .nav__list-item:hover {
  border-bottom: 3px solid #FFFFFF;
}
@media (min-width: 768px) {
  .nav .nav__list-item {
    margin-left: 3rem;
  }
}

.footer {
  color: #FFFFFF;
  margin-top: 0.5rem;
  padding: 2.5rem 1rem;
  background-color: #323232;
}
@media (min-width: 1280px) {
  .footer {
    padding: 2.5rem 5rem;
  }
}
@media (min-width: 768px) {
  .footer__manage {
    display: flex;
  }
}
@media (min-width: 768px) {
  .footer__touch {
    display: flex;
  }
}
.footer__touch--title {
  padding-bottom: 1rem;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .footer__touch--title {
    padding: 0 4rem 2rem 0;
    font-size: 2.5rem;
  }
}
.footer__touch--img {
  padding-right: 2rem;
}
@media (min-width: 768px) {
  .footer__touch--img {
    padding-top: 1rem;
  }
}
.footer__address {
  padding: 1rem 0;
}
@media (min-width: 768px) {
  .footer__address {
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .footer__address {
    width: 25%;
  }
}
.footer__address--title, .footer__address--para2 {
  font-size: 1rem;
  padding-bottom: 1.5rem;
}
.footer__address--para2, .footer__address--email {
  font-size: 0.8rem;
}
.footer__band {
  padding: 2rem 0 0 0;
  position: relative;
}
@media (min-width: 768px) {
  .footer__band--img {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    bottom: 17.5rem;
    right: 2rem;
  }
}
.footer__band--para1 {
  padding-top: 2rem;
  font-size: 0.8rem;
}

.hero {
  min-height: 15rem;
  background-image: linear-gradient(rgba(1, 1, 2, 0.7), rgba(71, 66, 66, 0.5)), url(../assets/images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
}
@media (min-width: 768px) {
  .hero {
    height: 28rem;
  }
}
@media (min-width: 1280px) {
  .hero {
    min-height: 55rem;
  }
}
.hero__title {
  color: #FFFFFF;
  padding: 5rem 2rem;
}
@media (min-width: 768px) {
  .hero__title {
    padding: 10rem 2rem;
    font-size: 4rem;
  }
}
@media (min-width: 1280px) {
  .hero__title {
    min-height: 40rem;
    padding: 20rem 6rem;
  }
}
@media (min-width: 768px) {
  .hero {
    font-size: 1.5rem;
  }
}

.musicians {
  padding: 1.5rem 0 1rem 0.2rem;
}
.musicians--title {
  padding-left: 1rem;
  color: #323232;
}
@media (min-width: 768px) {
  .musicians--title {
    font-size: 2.5rem;
    padding: 2rem;
  }
}
@media (min-width: 1280px) {
  .musicians--title {
    padding-left: 5rem;
  }
}
@media (min-width: 768px) {
  .musicians__container {
    text-align: center;
  }
}
.musicians__container--img {
  padding: 1rem;
  width: 100%;
  height: 50%;
  transition: transform 1s ease-in-out;
}
.musicians__container--img:hover {
  transform: scale(1.05);
}
@media (min-width: 768px) {
  .musicians__container--img {
    width: 40rem;
    height: 25rem;
  }
}
@media (min-width: 1280px) {
  .musicians__container--img {
    width: 60rem;
    height: 35rem;
  }
}
.musicians .musicians--para,
.musicians .musicians--para2 {
  padding-left: 1rem;
  color: #323232;
  line-height: 2rem;
  width: 100%;
}
@media (min-width: 768px) {
  .musicians .musicians--para,
  .musicians .musicians--para2 {
    width: 45rem;
    text-align: left;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-left: 5rem;
  }
}
@media (min-width: 1280px) {
  .musicians .musicians--para,
  .musicians .musicians--para2 {
    width: 60rem;
    padding: 1rem 0 0 11rem;
  }
}
@media (min-width: 768px) {
  .musicians .musicians--para2 {
    padding-top: 2rem;
    font-size: 1.2rem;
  }
}

.bee {
  padding: 1rem;
  min-height: 20rem;
}
.bee__title {
  padding-bottom: 1rem;
  color: #000000;
}
@media (min-width: 768px) {
  .bee__title {
    padding-left: 4rem;
  }
}
@media (min-width: 1280px) {
  .bee__title {
    padding-left: 10rem;
  }
}
.bee__subtitle {
  padding-bottom: 1.5rem;
}
.bee__list {
  list-style: none;
}
@media (min-width: 768px) {
  .bee__list {
    display: flex;
    padding: 0 4rem;
    line-height: 1.6rem;
  }
}
@media (min-width: 1280px) {
  .bee__list {
    width: 70rem;
    margin: 0 auto;
    padding: 0 2rem;
  }
}
.bee__list--item {
  padding-bottom: 1rem;
  color: #323232;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .bee__list--item {
    width: 25rem;
  }
}

.gallery {
  background-color: #FAFAFA;
}
@media (min-width: 768px) {
  .gallery__container {
    padding: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .gallery__container {
    padding: 0;
  }
}
.gallery__title {
  color: #323232;
  font-size: 1.5rem;
  padding: 2rem 0 0 1rem;
}
@media (min-width: 768px) {
  .gallery__title {
    font-size: 2.5rem;
  }
}
@media (min-width: 1280px) {
  .gallery__title {
    padding-left: 3rem;
  }
}
@media (min-width: 768px) {
  .gallery__img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1280px) {
  .gallery__img {
    padding: 2rem;
  }
}
.gallery__img--photo {
  width: 100%;
  height: 30%;
  padding: 0.5rem 1rem;
  transition: transform 1s ease-in-out;
}
.gallery__img--photo:hover {
  transform: scale(1.05);
}
@media (min-width: 768px) {
  .gallery__img--photo {
    height: 100%;
    padding: 1rem 0.5rem;
  }
}
.conversation {
  padding: 2rem 1rem;
}
.conversation__title {
  color: #323232;
  font-size: 1.6rem;
}
.conversation .form {
  display: flex;
  flex-direction: column;
  position: relative;
}
.conversation .form__container {
  padding: 2rem 0 0 3rem;
}
.conversation .form__name, .conversation .form__comment {
  color: #AFAFAF;
}
.conversation .form__title, .conversation .form__text {
  width: 100%;
  height: 3rem;
  border: 1px solid #AFAFAF;
  border-radius: 8px;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
  font-size: 1rem;
  background-color: #FAFAFA;
}
.conversation .form__text {
  height: 10rem;
  padding-top: 1rem;
}
.conversation .form .btn {
  background-color: #323232;
  color: #FFFFFF;
  padding: 1rem 0;
  border: 1px solid #323232;
  border-radius: 8px;
  margin-top: 1.5rem;
  font-size: 1.5rem;
  width: 100%;
}
.conversation .form .shape {
  width: 3rem;
  height: 3rem;
  background-color: #323232;
  border-radius: 50%;
  position: absolute;
  top: 3.5rem;
  left: -0.5rem;
}/*# sourceMappingURL=main.css.map */