@use './partial/typography' as *;
@use './partial/variables' as *;
@use './partial/global' as *;

// HERO SECTION 
.hero {
	min-height: 15rem;
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)),
    url(../assets/images/hero-bio.jpg);
	background-position: center;
	background-size: cover;

	@include tablet {
		height: 28rem;
      }
	  @include desktop {
		min-height: 40rem;
      }
	
	&__title {
		color: $primary-color-white;
		padding: 5rem 2rem;

		@include tablet {
			padding: 10rem 4rem;
		  }
		  @include desktop {
			min-height: 40rem;
			font-size: header-size;
			padding: 15rem 6rem;
		  }
	}
	@include tablet {
		font-size: $section-size;
      }
}


//  MUSICIANS SECTION 
.musicians {
	padding: 1.5rem 0;

 &__container {
	height: 20rem;

	&--title {

		padding-left: 1rem;
		color: $primary-color ;
	}

	&--img {
		padding: 1rem;
		width: 20rem;
		height: 10rem;
	}
 }

.musicians--para, .musicians--para2   {
	padding-left: 1rem;
	color: $primary-color ;
	line-height: $section-height;
 }



}
