@use './partial/typography' as *;
@use './partial/variables' as *;
@use './partial/global' as *;

// HERO SECTION 
.hero {
	min-height: 15rem;
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)),
    url(../assets/images/hero-bio.jpg);
	background-position: center;
	background-size: cover;

	@include tablet {
		height: 28rem;
      }
	  @include desktop {
		min-height: 40rem;
      }
	
	&__title {
		color: $primary-color-white;
		padding: 5rem 2rem;

		@include tablet {
			padding: 10rem 4rem;
		  }
		  @include desktop {
			min-height: 40rem;
			font-size: header-size;
			padding: 15rem 6rem;
		  }
	}
	@include tablet {
		font-size: $section-size;
      }
}

