@use './partial/typography' as *;
@use './partial/variables' as *;
@use './partial/global' as *;

// HERO SECTION
.hero {
  min-height: 15rem;
  background-image: linear-gradient(rgba(1, 1, 2, 0.7), rgba(71, 66, 66, 0.5)),
    url(../assets/images/hero-bio.jpg);
  background-position: center;
  background-size: cover;

  @include tablet {
    height: 28rem;
  }
  @include desktop {
    min-height: 55rem;
  }

  &__title {
    color: $primary-color-white;
    padding: 5rem 2rem;

    @include tablet {
      padding: 10rem 2rem;
      font-size: 4rem;
    }
    @include desktop {
      min-height: 40rem;
      padding: 20rem 6rem;
    }
  }
  @include tablet {
    font-size: $section-size;
  }
}

//  MUSICIANS SECTION
.musicians {
  padding: 1.5rem 0 1rem 0.2rem;

  &--title {
    padding-left: $mob-padding;
    color: $primary-color;

    @include tablet {
      font-size: $header-size;
      padding: 2rem;
    }

    @include desktop {
      padding-left: 5rem;
    }
  }

  &__container {
    @include tablet {
      text-align: center;
    }

    &--img {
      padding: $mob-padding;
      width: 100%;
      height: 50%;
      transition: transform 1s ease-in-out;
      &:hover {
        transform: scale(1.05);
      }

      @include tablet {
        width: 40rem;
        height: 25rem;
      }
      @include desktop {
        width: 60rem;
        height: 35rem;
      }
    }
  }

  .musicians--para,
  .musicians--para2 {
    padding-left: $mob-padding;
    color: $primary-color;
    line-height: $section-height;
    width: 100%;

    @include tablet {
      width: 45rem;
      text-align: left;
      font-size: $section-size;
      line-height: $section-height;
      padding-left: 5rem;
    }
    @include desktop {
      width: 60rem;
      padding: 1rem 0 0 11rem;
    }
  }
  .musicians--para2 {
    @include tablet {
      padding-top: $padding-tablet;
      font-size: 1.2rem;
    }
  }
}

// THE BEE KNEES SECTION
.bee {
  padding: $mob-padding;
  min-height: 20rem;

  &__title {
    padding-bottom: $mob-padding;
    color: $secondary-color-black;

    @include tablet {
      padding-left: 4rem;
    }

    @include desktop {
      padding-left: 10rem;
    }
  }
  &__subtitle {
    padding-bottom: $padding-after;
  }

  &__list {
    list-style: none;
    @include tablet {
      @include flex;
      padding: 0 4rem;
      line-height: 1.6rem;
    }
    @include desktop {
      width: 70rem;
      margin: 0 auto;
      padding: 0 2rem;
    }

    &--item {
      padding-bottom: $mob-padding;
      color: $primary-color;
      margin: 0 auto;

      @include tablet {
        width: 25rem;
      }
    }
  }
}

// GALLERY SECTION
.gallery {
  background-color: $secondary-color-albaster;

  &__container {
    @include tablet {
      padding: $padding-after;
    }
    @include desktop {
      padding: 0;
    }
  }
  &__title {
    color: $primary-color;
    font-size: $section-size;
    padding: 2rem 0 0 1rem;

    @include tablet {
      font-size: $header-size;
    }
    @include desktop {
      padding-left: 3rem;
    }
  }
  &__img {
    @include tablet {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    @include desktop {
      padding: $padding-tablet;
    }

    &--photo {
      width: 100%;
      height: 30%;
      padding: 0.5rem 1rem;
      transition: transform 1s ease-in-out;
      &:hover {
        transform: scale(1.05);
      }

      @include tablet {
        height: 100%;
        padding: 1rem 0.5rem;
      }
      @include desktop {
        // width: 25rem;
        // height: 15rem;
      }
    }
  }
}

// FORM SECTION

.conversation {
  padding: 2rem 1rem 0 1rem;
  font-family: 'Avenir', sans-serif;

  &__title {
    color: $primary-color;
    font-size: $subheader-size;
  }
  .form {
    display: flex;
    flex-direction: column;
    position: relative;

    &__container {
      padding: 2rem 0 0 3rem;
    }
    &__name,
    &__comment {
      color: $primary-color-silver;
    }

    &__input,
    &__text {
      width: 100%;
      height: 3rem;
      border: 1px solid $primary-color-silver;
      border-radius: 8px;
      margin: 0.5rem 0 1rem 0;
      padding-left: 1rem;
      font-size: 1rem;
      background-color: $secondary-color-albaster;
    }

    &__text {
      height: 10rem;
      padding-top: 1rem;
    }
    .btn {
      background-color: $primary-color;
      color: $primary-color-white;
      padding: $secondary-padding;
      border: 1px solid $primary-color;
      border-radius: 8px;
      font-size: 1rem;
      width: 100%;
    }
    .shape {
      width: 3rem;
      height: 3rem;
      background-color: $primary-color-silver;
      border-radius: 50%;
      position: absolute;
      top: 3.5rem;
      left: -0.5rem;
    }
  }
  .comment__container {
    margin: 2rem 0;
  }
  .comment__list {
    list-style: none;
  }
  .comment__item {
    border-top: 2px solid $primary-color-silver;
    padding-top: 1rem;
    position: relative;

    &--shape {
      width: 3rem;
      height: 3rem;
      background-color: $primary-color-silver;
      border-radius: 50%;
      position: absolute;
      top: 1rem;
    }
  }
  .comment__first {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0 0 4rem;

    &--time {
      color: $primary-color-silver;
    }

    &--h {
      font-size: 1rem;
      color: $primary-color;
    }
  }

  .comment__second {
    padding: 1rem 0 1rem 4rem;
    font-size: 1rem;
    color: $primary-color;
	// border-bottom: 2px solid $primary-color-silver;
	
  }
}
