@use './partial/typography' as *;
@use './partial/variables' as *;
@use './partial/global' as *;

// ALBUM SECTION
.album {
  min-height: 18rem;
  background: linear-gradient(rgba(85, 85, 85, 0.5), rgba(0, 0, 0, 0.8)),
    url('../assets/Images/hero-shows.jpg');
  background-position: center;
  background-size: cover;

  @include tablet {
    min-height: 30rem;
  }
  @include desktop {
    min-height: 60rem;
  }

  &__container {
    color: $primary-color-white;
    padding: 1.5rem 1.3rem;

    @include tablet {
      padding: 4rem 3rem;
    }

	@include desktop {
		@include flex; 
	  padding:20rem 3rem;
	}
  }

  &__title {
    padding: 1rem 0;
  }
  &__para {
    padding-bottom: 1rem;
    font-size: 1.2rem;

    @include tablet {
      font-size: $subheader-size;
    }
  }
  &__header {
    font-size: $subheader-size;

    @include tablet {
      font-size: 3.8rem;
    }
  }
  &__ifram {
    width: 17rem;
    height: 6rem;

    @include tablet {
      width: 25rem;
      height: 8rem;
    }
	@include desktop {
		width: 45rem;
		height: 10rem;
	  }
  }
}

// SHOWS SECTION

.shows {
	&__co {
	  @include desktop {
		display: flex;
		margin-top: 3rem;
		flex-direction: column;
		justify-content: space-between;
	  }
	}
  
	&__header {
	  padding-bottom: 1.5rem;
	  padding: 2rem 1.5rem;
	  color: $primary-color;
  
	  @include tablet {
		font-size: $header-size;
		margin-left: 1.3rem;
		padding-top: 4rem;
	  }
	}
  
	&__container {
	  padding: 0 1.5rem;
	  border-bottom: 1px solid $primary-color-silver;
	  padding-bottom: 1rem;

	  @include tablet {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin:0 0 3rem 2rem;
	  }

   @include desktop {
		width: 70%;
		margin: 2rem auto;
	  }
	  }
  
	&__detail {
	  padding: 0.5rem 0;
  
	  @include desktop {
		margin-right: 0.5rem;
	  }
	}
  
	&__para {
	  color: $primary-color-silver;
	  font-size: 1rem;
	  padding-bottom: 0.3rem;

	  @include tablet {
		padding-bottom: 2rem;
	  }
	
  
	  &--no {
		  @include tablet {
			  display: none;
	  }
  }
  
	  @include desktop {
		font-size: 1rem;
	  }
	}

	&__para2 {
	  font-size: $footer-height;
	  color: $primary-color;
  
	  @include desktop {
		font-size: 1.3rem;
	  }
	}
  
	.btn {
	  margin-top: 1rem;
	  background-color: $primary-color;
	  color: $primary-color-white;
	  padding: 0.5rem;
	  border: 1px solid $primary-color;
	  border-radius: 4px;
	  font-size: 1rem;
	  width: 100%;
  
	  @include tablet {
		width: 20%;
	    padding: 0.7rem;
	  }
  
	  @include desktop {
			padding: 1rem;
	  }
	}
}
